<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="form-container">
        <h2>Register</h2>
        <% if (typeof error !=='undefined' && error) { %>
            <p class="error-message">
                <%= error %>
            </p>
            <% } %>
                <form action="/register" method="post">
                    <div class="form-group">
                        <label for="name">Username:</label>
                        <input type="text" id="name" name="username" placeholder="Enter your name" required
                            autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="submit-btn">Register</button>
                </form>
                <p>Already have an account? <a href="/login">Login</a></p>
    </div>
</body>

</html>
